@font-face {
    font-family: Bree-Serif; 
    src: url(Bree_Serif/BreeSerif-Regular.ttf);
}
@font-face {
    font-family: Playfair-Display;
    src: url(Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
:root{
    --Baggrund: #EAECEE;
    --Nav: #FFFFFF;
    --text: #707070;
    --footer: #FFFFFF;
} 


body{
margin: auto;
background-color: var(--Baggrund);
font-family: bree-serif; 
}

.navbar{
text-decoration: none;
font-family: Playfair-Display;
padding: 10px;
background-color: var(--Nav);
color: var(--text);
margin: 0px;
padding: 0px;
display: 10px;
}

.navbar a{
    background-color: var(--Nav);
    color: var(--text);
    text-decoration: none;
    font-family: 'Playfair-Display';  
    text-align: center;

}

ul{
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content:space-around
}

li{
    padding-top: 30px;
    padding-right: 17px;
}

.textstyle{
font-family: Playfair-Display;
color: var(--text);
}

h2{
    font-family: Bree-Serif;
    color: var(--text);
}

p{
    font-family: Playfair-Display;
    color: var(--text);
}

footer{
    color: var(--text);
    font-family: Playfair-Display;
    background-color: var(--footer);
}
